.modal__container{
    position: absolute;
    top: 13vh;
    left: 10vw;
    width: 82vw;
    height: 74vh;
    padding: 20px;
    background: #01365ae3;
    border: 2px solid #00000052;
    border-radius: 6px;
}
.modal__container textarea{

}
#todo__btn__save,#todo__btn__cancel{
    padding:10px;
}
#todo__btn__save{
    background-color: #27cda5 !important;
    color: white;
    font-weight: 700;
}
#todo__btn__cancel{
    background-color: #e95b6d !important;
    color: white;
    font-weight: 700;
}
