.Setting__container{
    color: white;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.fa-cog{
    font-size: 20px;
}
.Setting__Menu{
    position: absolute;
    bottom: 29px;
    right: 0px;
    width: 150px;
    background: #fffdfd;
    /* height: 100px; */
    /* height: 0%; */
    color: black;
    -webkit-transition: height 0.5s ease-in-out, visibility 0.5 linear;
    transition: height 0.5s ease-in-out, visibility 0.5 linear;
}
.hide__menu{
    display:none;
    /* height: 0px; */
    /* visibility: hidden; */
}

.show__menu{
    display: block;
    /* height: 100px; */
}