.add__todo__input{
    width: calc(100% - 46px);
    height: 40px;
    background: #000000a8;
    border: 2px solid black;
    color: white;
    border-top-left-radius: 10px;
}
input.add__todo__input:focus-visible {
    outline: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
.add__todo__button{
    background: black;
    border: 2px solid black;
    height: 40px;
    border-top-right-radius: 10px;
    width: 46px;
}
.todoList__noTaskPlaceholder{
    color: white;
    margin-top: 10px;
}