.App {
  text-align: center;
}

/*Scroll bar styling*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(255 129 51 / 50%) 0%, rgb(0 0 0 / 40%) 35%, rgb(0 212 255 / 57%) 100%);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06066d;
}
.list-item{
  border: 1px solid rgba(128, 128, 128, 0.301);
  color: #ffffff;
  height: 22px;
}
.todo__container{
  background:#000000eb;
  float: right;
  border: 2px solid #000000b8;
  /* max-height: 380px; */
  /* overflow-x: auto; */
  /* overflow-x: overlay; */
  /* overflow-y: overlay; */
  height: 40px;
  min-height: 300px;
  max-height: 350px;
}
.add__form__container{
  float:right;
}
.delete__item{
  /* position: relative;
  top: -25px;
  float: right;
  font: caption; */
  background: transparent;
  border: 0;
  color: red;
}
.edit__item{
  /* position: relative;
  top: -25px;
  float: right;
  font: caption; */
  background: transparent;
  border: 0;
  color: #ffffff;
}
.head__red{
  background: rgba(0, 0, 0, 0.062);
  text-align:left;
}
.google__signin__button{
  background-color: #000000a6 !important;
    border: 0px !important;
    color: #fff !important;
    border-radius: 10px !important;
    padding: 6px !important;
    position: absolute !important;
    top: 8vw !important;
    right: 5vw !important;
    font-size: 18px !important;
}
.google__signin__button div{
    background: none !important;
}
.google__signin__button span{
  font-weight: 600 !important;
}